{% extends "learning_logs/base.html" %}

{% block content %}
<p><a href="{% url 'material_synthesis:items' system.id %}">{{system}}</a></p>

<p>Add a new formular:</p>
<form action="{% url 'material_synthesis:new_formular' system.id %}" method= 'post'>
   {% csrf_token %}
   {{ form.as_p}}
   <div>
   <p style="color:green">反应物(若多，勿选即可;<a href="{% url 'material_synthesis:edit_system' system.id %}">不足传送门</a>):</p>
   {% comment "用了更简洁的方式处理了列表" %}
   <!--
   {{ reactantformset.management_form }}
   <table>
   {% for reactantform in reactantformset %}
   {{ reactantform }}
   {% endfor %}
   </table>-->
   {% endcomment %}
   <table>
   {{ reactantformset }}
   </table>
   </div>
   <div>
   <p style="color:red">生成物（同反应物）:</p>
   <table>
   {{ productformset }}
   </table>
   </div>
   <button name="submit">Add formular</button>
</form>

{% endblock content %}
